body {
  font-family: "Arial", sans-serif;
  margin: 0 auto;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  text-transform: none;
  font-weight: normal;
  background-color: #fff;
  width: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.header {
  height: 500px;
}

.header__background {
  position: absolute;
  width: 100%;
  height: 500px;
}

.header__video {
  height: 500px;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
}

.header__container {
  display: flex;
  padding-top: 30px;
  flex-direction: column;
  position: relative;
}

.header__title {
  display: block;
  font-size: 68px;
  line-height: 60px;
  font-weight: bold;
  margin: 0 auto;
  margin-bottom: 20px;
}

.header__content {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

.header__list {
  text-align: start;
  width: 500px;
  font-size: 24px;
  line-height: 26px;
  font-weight: bold;
}

.header__button {
  margin: 0 auto;
  background-color: #000;
  color: #fff;
  width: 150px;
  height: 50px;
  border: none;
  font-size: 24px;
  line-height: 24px;
  cursor: pointer;
}

.composition {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    53deg,
    rgba(0, 0, 0, 1) 14%,
    rgba(255, 255, 255, 1) 100%
  );
}

.composition__container {
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.composition__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.composition__img {
  height: 230px;
  width: 170px;
  margin-right: 20px;
  margin-left: 20px;
}

.composition__picture {
  display: flex;
  border-radius: 50%;
  border: 2px solid #000;
  background-size: cover;
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  padding-top: 80px;
}

.composition__ginkgo {
  background-image: url(./img/biozevtika_ginkgo_biloba_co2_extract.jpg);
}

.composition__koleus {
  background-image: url(./img/Coleus.jpg);
}

.composition__krapiva {
  background-image: url(./img/krapiva.jpg);
}

.composition__gorynka {
  background-image: url(./img/gorynka.jpg);
}

.composition__serenoa {
  background-image: url(./img/serenoa.jpg);
}

.composition__cink {
  background-image: url(./img/cink.jpg);
}

.composition__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 26px;
  color: #000;
  width: fit-content;
  margin: 0 auto;
}

.slider {
  background: radial-gradient(
      circle closest-side at 60% 43%,
      #92071a 26%,
      rgba(187, 0, 51, 0) 27%
    ),
    radial-gradient(
      circle closest-side at 40% 43%,
      #92071a 26%,
      rgba(187, 0, 51, 0) 27%
    ),
    radial-gradient(
      circle closest-side at 40% 22%,
      #a4a4a4 45%,
      rgba(221, 51, 85, 0) 46%
    ),
    radial-gradient(
      circle closest-side at 60% 22%,
      #a4a4a4 45%,
      rgba(221, 51, 85, 0) 46%
    ),
    radial-gradient(
      circle closest-side at 50% 35%,
      #a4a4a4 30%,
      rgba(221, 51, 85, 0) 31%
    ),
    radial-gradient(
        circle closest-side at 60% 43%,
        #92071a 26%,
        rgba(187, 0, 51, 0) 27%
      )
      50px 50px,
    radial-gradient(
        circle closest-side at 40% 43%,
        #92071a 26%,
        rgba(187, 0, 51, 0) 27%
      )
      50px 50px,
    radial-gradient(
        circle closest-side at 40% 22%,
        #a4a4a4 45%,
        rgba(221, 51, 85, 0) 46%
      )
      50px 50px,
    radial-gradient(
        circle closest-side at 60% 22%,
        #a4a4a4 45%,
        rgba(221, 51, 85, 0) 46%
      )
      50px 50px,
    radial-gradient(
        circle closest-side at 50% 35%,
        #a4a4a4 30%,
        rgba(221, 51, 85, 0) 31%
      )
      50px 50px;
  background-color: #92071a;
  background-size: 100px 100px;
  padding-bottom: 30px;
}

.review {
  display: none;
  padding-top: 50px;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
}

.review--active {
  display: flex;
}
.review__photo {
  border: 2px solid black;
  border-radius: 70%;
  margin-bottom: 15px;
}

.review__text {
  display: block;
  padding-top: 15px;
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
  color: #fff;
  background-color: #000;
  width: 700px;
  border-radius: 3%;
  margin-bottom: 30px;
}

.review__arrows {
  display: flex;
  width: 300px;
  justify-content: space-between;
  margin: 0 auto;
}

.review__arrow {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.gradient {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    53deg,
    rgba(0, 0, 0, 1) 14%,
    rgba(255, 255, 255, 1) 100%
  );
}

section {
  border-bottom: 4px solid #000;
}

.promo {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 30px;
  padding-left: 30px;
}

.promo__container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

.promo__photo {
  margin-right: 30px;
}

.promo__description {
  font-size: 24px;
  line-height: 28px;
  text-align: start;
  width: 400px;
  border: 3px dashed #92071a;
}

.promo__list {
  font-size: 28px;
  color: #a4a4a4;
  font-weight: bold;
  margin-top: 0;
  line-height: 30px;
}

.promo__item {
  display: inline;
  color: #92071a;
  text-transform: uppercase;
  padding-right: 10px;
}

.promo__button {
  display: block;
  background-color: #000;
  color: #fff;
  width: 150px;
  height: 50px;
  border: none;
  font-size: 24px;
  line-height: 24px;
  cursor: pointer;
  margin: 0 auto;
}

.form {
  padding-top: 30px;

  padding-bottom: 30px;
}

.form__title {
  display: block;
  margin: 0 auto;
  font-size: 32px;
  line-height: 28px;
  font-weight: bold;
  margin-bottom: 15px;
}

.form__old-price {
  display: block;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 10px;
}

.form__new-price {
  display: block;
  color: #92071a;
  font-size: 30px;
  line-height: 28px;
  font-weight: bold;
  margin-bottom: 50px;
  animation: pulse 2s ease-in-out infinite;
}

@keyframes pulse {
  from {
    transform: scale(0.85);
  }
  50% {
    transform: scale(1);
  }
  to {
    transform: scale(0.85);
  }
}

.form__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.form__order {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 30px;
}

.form__img {
  height: 250px;
  width: 200px;
}

.form__label {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 25px;
}

.form label {
  color: #fff;
}

.form__input {
  margin-left: 15px;
  border: 4px solid #000;
  outline: none;
}

.form__input:focus::placeholder {
  position: absolute;
  font-size: 14px;
  top: 0;
  right: 0;
  color: #92071a;
}

.form__button {
  background-color: #000;
  color: #fff;
  width: 150px;
  height: 50px;
  border: none;
  font-size: 24px;
  line-height: 24px;
  cursor: pointer;
}

.form__timer {
  margin-bottom: 15px;
}

.form__timer-mins,
.form__timer-secs {
  font-size: 24px;
  line-height: 24px;
  color: #92071a;
  font-weight: bold;
}

.form__timer-mins {
  margin-right: 10px;
}

@media (max-width: 768px) {
  .header {
    height: 300px;
  }
  .header__background {
    height: 300px;
  }

  .header__video {
    height: 300px;
  }

  .header__container {
    padding-top: 10px;
  }

  .header__title {
    font-size: 24px;
    margin-bottom: 0;
  }

  .header__content {
    padding-left: 5px;
    padding-right: 5px;
    align-items: center;
  }

  .header__img {
    height: 120px;
    width: 80px;
  }

  .header__list {
    width: 280px;
    font-size: 14px;
    line-height: 18px;
  }

  .header__content {
    margin-bottom: 5px;
  }

  .header__button {
    width: 100px;
    height: 40px;
    font-size: 18px;
  }

  .composition__container {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .composition__img {
    height: 110px;
    width: 90px;
  }

  .composition__picture {
    width: 80px;
    height: 80px;
    padding-top: 25px;
    margin: 0;
  }

  .composition__title {
    font-size: 13px;
    line-height: 15px;
  }

  .review__photo {
    width: 300px;
    height: 200px;
  }

  .review__text {
    font-size: 14px;
    line-height: 16px;
    width: 300px;
  }

  .promo__container {
    display: flex;
    flex-direction: column;
  }

  .promo__photo {
    width: 180px;
    height: 230px;
  }

  .promo__description {
    font-size: 16px;
    line-height: 18px;
    width: auto;
    margin-bottom: 0;
    color: #fff;
  }

  .promo__list {
    padding-left: 0;
    font-size: 16px;
    line-height: 22px;
  }

  .promo__button {
    width: 100px;
    height: 40px;
    font-size: 18px;
  }

  .form__title {
    font-size: 24px;
    line-height: 24px;
  }

  .form__old-price {
    font-size: 14px;
    line-height: 16px;
  }

  .form__new-price {
    margin-bottom: 25px;
    font-size: 20px;
    line-height: 20px;
  }

  .form__order {
    margin: 0;
  }

  .form__label {
    font-size: 16px;
    line-height: 22px;
  }

  .form__button {
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 40px;
    font-size: 18px;
  }

  .form__img {
    display: none;
  }
}

@media (max-width: 384px) {
  .header__title {
    font-size: 20px;
  }

  .header__img {
    height: 50px;
    width: 40px;
    margin-right: 10px;
  }

  .header__content {
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }

  .header__list {
    padding-left: 0;
    font-size: 14px;
    line-height: 16px;
    width: auto;
    margin-top: 0;
  }

  .header__button {
    width: 90px;
    height: 30px;
    font-size: 16px;
  }

  .composition__img {
    display: none;
  }

  .composition__container {
    display: flex;
    flex-direction: column;
  }

  .composition__picture {
    width: 140px;
    height: 90px;
    padding-top: 25px;
    margin-bottom: 10px;
    margin-left: 0;
    border-radius: 30%;
  }

  .composition__title {
    font-size: 14px;
    line-height: 16px;
  }

  .review__text {
    width: auto;
  }
  .review__description {
    font-size: 12px;
    line-height: 14px;
  }

  .review__arrows {
    width: auto;
  }

  .form__order {
    width: auto;
  }
  .form__input {
    width: auto;
  }
} ;
